.back-arrow {
  position: fixed;
  color: white;
  font-size: 1rem;
  top: 0.6rem;
  left: 0.6rem;
  z-index: 1;
}

.invoice-header {
  text-align: center;
  background: var(--bg);
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 6px 2px black;
  margin-bottom: 1rem;
  position: fixed;
  width: 100vw;
  top: 0;
}

.search-input {
  position: fixed;
}
.category{
  text-align: center;
  background: var(--bg);
  color: white;
  width: fit-content;
  margin: auto;
  padding: .3rem 1rem;
  border-radius: .5rem;
  font-size: 1rem;
}
.main-box {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid grey; */
  margin: 1rem 0;
}

.img-box {
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-box {
  display: flex;
  flex-direction: column;
  width: 55vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.sub-box h3 {
  margin: 0;
}

.sub-box p {
  margin: 0;
}

.btn-box {
  width: 24vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-btn {
  padding: 0.3rem 1rem;
  background: white;
  color: var(--bg);
  font-weight: 800;
  border-color: var(--bg);
}

.quantity-btns {
  /* margin-top: 1rem; */
  font-weight: 800;
  width: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  background: white;
  color: var(--bg);
  padding-top: 0.3rem;
  border-color: var(--bg);
}

/* .done {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--bg);
  color: white;
  font-size: 1.4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.7rem;
} */

.invoice-btn {
  position: fixed;
  bottom: 1rem;
  display: flex;
  justify-content: space-between; /* This will align the buttons to the left and right */
  width: calc(100% - 2rem); /* Adjust width to account for left and right padding */
  padding: 0 1rem;
}

.invoice-btn button {
  background: var(--bg);
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.7rem;
  border-color: var(--bg) ;
}

.Invoice-arrow {
  font-size: .8rem !important;
  margin-left: 0.4rem;
}

.remove-btn {
  cursor: pointer;
  color: red;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background: white;
  /* border: navajowhite; */
  /* position: absolute; */
  width: fit-content;
}
