.back-arrow{
    position: fixed;
    color: white;
    font-size: 1.4rem;
    top: .6rem;
    left: .6rem;
}

.Customer-header{
  text-align: center;
  background: var(--bg);
  color: white;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 6px 2px black;
  margin-bottom: 1rem;
}

.cust-inputs input{
width: 80vw;
margin: .5rem;
padding: .5rem;
}

.done{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--bg);
    color: white;
    font-size: 1.4rem;
    padding: .2rem .8rem;
    border-radius: .7rem;
}

.Invoice-arrow {
font-size: 1rem;
 margin-left: .4rem;
}

.header {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px 0;
}

.headerr {
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px 0;
}

.subheader {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 5px 0;
}

.customerinfo {
  font-size: 20px;
  text-align: left;
  margin: 10px 0 0 0;
}
.total {
font-size: 25px;
font-weight: bold;
text-align: right;
margin: 10px 0 0 0;
}
.totall {
font-size: 25px;
font-weight: bold;
text-align: right;
margin: 10px 0 0 0;
}