.custom-navbar {
  background: var(--bg); /* Custom blue background */
  border-bottom: 2px solid #333; /* Optional border */
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 6px 2px black;
}

.custom-text {
  color: #fff !important; /* Custom text color */
  font-weight: bold;
}

.custom-navbar .navbar-toggler , .custom-navbar .navbar-toggler-icon {
  border-color: white;
  color: white;
}

.custom-navbar .navbar-brand {
  color: white !important; /* Custom brand color */
}
.btn{
background-color: var(--bg);
color: white;
}